#titleText {
    -fx-font-family: Verdana;
    -fx-font-size: 60;
    -fx-font-weight: bold;
    -fx-text-fill: #fff0;
    /*-fx-opacity: 0.0;*/
    -fx-stroke: yellow;
    -fx-stroke-width: 2px;
    -fx-text-alignment: center;
}

#pressAnyKeyText {
    -fx-font-family: Verdana;
    -fx-font-size: 25;
    -fx-fill: rgba(255, 255, 255, 0.6);
    -fx-stroke-color: #000000;
    -fx-stroke-width: 0px;
    -fx-text-alignment: center;
}
